<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestSuite" parallel="methods">
    <listeners>
        <listener class-name="listeners.TestListener" />
    </listeners>
    <test name="TestScenario01">
        <classes>
            <class name="TestScenario01" />
            <class name="TestScenario02" />
        </classes>
    </test>
</suite>